@charset "UTF-8";
body,
html {
  margin: 0;
  padding: 0;
  background: url('../img/3.png') no-repeat fixed;
  background-size: 100% 100%;
  /* 图片跟随滚动 */
  /* background-attachment:fixed; */
}

/* common */
.dweb {
  background: #00000060;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.12), 0 0 6px rgba(0, 0, 0, 0.04);
  border-radius: 0.25rem;
}
.dweb .header {
  font-size: 18px;
  color: #5edbb5;
  text-align: center;
  font-weight: 500;
}
.dweb.body .header {
  height: 30px;
  line-height: 30px;
  overflow: hidden;
  text-align: center;
  font-size: 20px;
  font-weight: 500;
  color: #fff;
}

/* 顶部导航 */
#top-menu {
  position: fixed;
  top: 0;
  bottom: auto;
  left: auto;
  right: auto;
  width: 100vw;
  height: 60px;
  z-index: 1001;
}

/* 右上角欢迎词 */
.user_name {
  position: absolute;
  top: auto;
  bottom: auto;
  left: auto;
  right: 35px;
  width: auto;
  height: 60px;
  color: #5edbb5;
  font-size: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: all 2s ease;
}
.user_name .xs {
  position: absolute;
  top: auto;
  bottom: auto;
  left: auto;
  right: 120px;
  transition: all 2s ease;
}

/* 右上角退出按钮 */
#logout {
  position: absolute;
  top: auto;
  bottom: auto;
  left: auto;
  right: -500px;
  transition: all 2s ease-out;
}
#logout .xs {
  position: absolute;
  top: auto;
  bottom: auto;
  left: auto;
  right: -100px;
  transition: all 0.8s ease;
}

/* 左移动画 */
.left {
  transition-timing-function: ease-in;
  animation-name: left;
  animation-duration: 1s;
}

@keyframes left {
  0% {
    transform: translateX(200px);
  }
}
@keyframes right {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(200px);
  }
}
/* 左侧边栏导航 */
#left-menu {
  width: 200px;
  height: 100vh;
  transition: all 0.3s ease;
  position: fixed;
  z-index: 1001;
}
#left-menu .xs {
  transition: all 0.3s ease;
  margin-left: -200px;
}
#left-menu #left-btn {
  position: absolute;
  top: auto;
  bottom: auto;
  left: 210px;
  right: auto;
  width: auto;
  height: 60px;
  display: flex;
  align-items: center;
  color: #5edbb5;
  font-size: 40px;
}

.clear {
  clear: both;
}

#add_article {
  position: absolute;
  top: -50px;
  bottom: auto;
  left: auto;
  right: 10px;
}

.article-content {
  color: #fff;
}
.article-content img {
  width: 40%;
  height: auto;
  margin-right: 10px;
}

/* 页面内容 */
#content {
  position: relative;
  top: 60px;
  bottom: auto;
  left: auto;
  right: auto;
  transition: all 0.3s ease;
  padding: 10px 0;
  margin-left: 220px;
  margin-right: 20px;
}
#content .xs {
  transition: all 0.3s ease;
  margin-left: 20px;
}

/* 页面底部 */
#footer {
  color: #fff;
  font-size: 18px;
  font-weight: 500;
  margin-top: 10px;
  text-align: center;
  padding: 10px 0;
}

.el-submenu__title:hover {
  background-color: #00000060 !important;
}

.el-menu-item:hover {
  background-color: #00000060 !important;
}

.el-menu {
  border-right: none;
}
.el-menu i {
  color: #a2f3ea;
}

.el-form-item__label {
  color: #5edbb5 !important;
}

.el-input input {
  background-color: #00000060;
  color: #fff;
  border: none;
}

.el-textarea textarea {
  background-color: #00000060;
  color: #fff;
  border: none;
}

.el-breadcrumb__inner.is-link {
  color: #fff;
}

.el-breadcrumb__inner {
  color: #fff;
}

.el-breadcrumb__item:last-child .el-breadcrumb__inner {
  color: #5edbb5;
  cursor: pointer;
}

.el-breadcrumb__item:last-child .el-breadcrumb__inner:hover {
  color: #ffcd77;
  cursor: pointer;
}

.el-pagination.is-background button {
  background-color: #00000060 !important;
  color: #fff !important;
}
.el-pagination.is-background .el-pager li:not(.disabled).active {
  color: #fff;
  background: #5edbb5;
}
.el-pagination.is-background .el-pager li {
  background: #00000060;
  color: #fff;
}

.el-transfer-panel {
  background-color: #00000060 !important;
  border: none;
}
.el-transfer-panel .el-transfer-panel__header {
  background-color: #00000060 !important;
}
.el-transfer-panel .el-transfer-panel__header .el-checkbox .el-checkbox__label {
  color: #fff;
}

.el-checkbox.el-transfer-panel__item {
  color: #fff;
}

.el-tree {
  background-color: #00000060;
  color: #fff;
}

.el-tree-node__content:hover {
  background-color: #80cdcb;
}

.el-tree-node:focus > .el-tree-node__content {
  background-color: #80cdcb;
}

.el-popover {
  background-color: #00000060;
  border: none;
}
.el-popover .el-tree {
  background: none;
  border: none;
}

/* summernote */
.note-btn {
  color: #80cdcb;
}

.note-btn:hover {
  color: #ffcd77;
}

.dropdown-menu {
  background-color: #00000060;
  color: #80cdcb;
}
.dropdown-menu a {
  color: #80cdcb;
}

.popover {
  background-color: #69626260;
  border-radius: 10px;
}

.note-editable {
  background-color: #00000030;
  color: #fff;
}
