@font-face {
  font-family: "iconfont"; /* Project id 1920059 */
  src: url('iconfont.woff2?t=1679762816521') format('woff2'),
       url('iconfont.woff?t=1679762816521') format('woff'),
       url('iconfont.ttf?t=1679762816521') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.iconmoon_fill:before {
  content: "\e746";
}

.iconsun:before {
  content: "\e600";
}

.iconfabu3:before {
  content: "\ec09";
}

.iconfabu4:before {
  content: "\e616";
}

.iconedit_light:before {
  content: "\e7de";
}

.iconpinglun2:before {
  content: "\e60d";
}

.iconbianji4:before {
  content: "\e8ac";
}

.iconzhuye:before {
  content: "\e60f";
}

.iconzhuye3:before {
  content: "\e639";
}

.icondianzanb:before {
  content: "\e6bb";
}

.iconshoucang5:before {
  content: "\e615";
}

.icondianzan:before {
  content: "\e6ac";
}

.iconview:before {
  content: "\e608";
}

.iconmy:before {
  content: "\e78b";
}

.iconmyfill:before {
  content: "\e78c";
}

.iconlogout:before {
  content: "\e625";
}

.iconunorderedlist:before {
  content: "\e7f4";
}

.icongrid:before {
  content: "\e79c";
}

.iconGitHub:before {
  content: "\ea0a";
}

.icondianzan1:before {
  content: "\e8c3";
}

.iconshoucang:before {
  content: "\e8c6";
}

